<div class="card bg-base-400 w-76 shadow-sm" *ngIf="feed">
  <figure>
    <img src="{{ feed.photoUrl }}" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ feed.firstName + " " + feed.lastName }}</h2>
    <p *ngIf="feed.age != undefined || null">
      {{ feed.age + ", " + feed.gender }}
    </p>
    <p>{{ feed.about }}</p>
    <div class="card-actions justify-center my-4">
      <button
        class="btn btn-sm btn-primary"
        (click)="onAction('ignored', feed._id)"
      >
        IGNORE
      </button>
      <button
        class="btn btn-sm btn-secondary"
        (click)="onAction('interested', feed._id)"
      >
        INTERESTED
      </button>
    </div>
  </div>
</div>
<div class="toast toast-top toast-center" *ngIf="showToastMsg">
  <div class="alert alert-success">
    <span>{{ toastMsg }}</span>
  </div>
</div>
